---
import "../styles/header.css";
import ThemeIcon from "./ThemeIcon.astro";
import UserIcon from "../components/UserIcon.astro";

const { user } = Astro.props;

const navItems = [
  { name: "Home", href: "/" },
  { name: "Browse all apps", href: "/browse-apps" },
];

// Si no hay usuario, agregar "Sign In" al menú de navegación
if (!user) {
  navItems.push({ name: "Sign In", href: "/sign-in" });
}
---

<header class="header">
  <div class="container">
    <h1 class="logo"><a href="/">NetoList</a></h1>
    <nav>
      <ul class="nav">
        {
          navItems.map((item) => (
            <li>
              <a href={item.href}>{item.name}</a>
            </li>
          ))
        }
        {
          user && (
            <li>
              <UserIcon user={user} />
            </li>
          )
        }
      </ul>
    </nav>
    <ThemeIcon />
  </div>
</header>
